body{

    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;

}

.contenedor{

    text-align:center;
    margin-top:120px;

}

h1{

    color:#1565c0;
    font-size:50px;

}

p{

    font-size:22px;

}

button{

    padding:15px 35px;
    font-size:20px;
    border:none;
    background:#2196f3;
    color:white;
    border-radius:10px;
    cursor:pointer;

}

button:hover{

    background:#1565c0;

}

